.wrapper {
    text-align: center;
    display: flex;
    flex-direction: row;
    font-size: 4vh;
    min-height: 92vh;
    color: white;

    .item-list {
        display: flex;
        flex-direction: column;
        width: 40%;
        font-weight: bold;
        margin-top: 5vh;
        margin-left: 2vw;

        a {
            color: rgb(178, 238, 240);;
            width: max-content;
            text-decoration: none;
            margin: 0 auto;
        }
    }
    
    .under-item-list{
        width: 60%;
        padding-right: 2vw;
        font-style: italic;
    };

}
