.main-page {
    width: 100vw;
    height: 92vh;
    position: fixed;

    h1 {
        position: absolute;
        top: 40%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        font-size: 9vh;
        color: white;
        z-index: 2;
    }
}
